:root {
  --primary-color-light: #fdfaf7;
  --primary-color-dark: #4a2c2a;
  --secondary-color: #6d5b54;
  --secondary-gradient-dark: #2f1d1c;
  --navbar-gradient: linear-gradient(
    to top,
    rgba(47, 29, 28, 0) 0%,
    rgba(47, 29, 28, 0.2) 30%,
    rgba(47, 29, 28, 0.5) 50%,
    rgba(47, 29, 28, 0.8) 90%,
    rgba(47, 29, 28, 0.9) 100%
  );
  --article-gradient: linear-gradient(
    to bottom,
    rgba(74, 44, 42, 0) 0%,
    rgba(1, 1, 1, 0.85) 100%
  );
  --family-main: "Exo 2", sans-serif;
  --family-secondary: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

h2 {
  font-family: var(--family-main);
  font-weight: 400;
  color: var(--primary-color-light);
  cursor: default;
}

p {
  font-family: var(--family-secondary);
  cursor: default;
}

/* BUTTONS */

.white-btn {
  padding: 16px;
  background-color: var(--primary-color-light);
  border: none;
  border-radius: 12px;
  color: var(--primary-color-dark);
  font-family: var(--family-main);
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.transparent-btn {
  padding: 12px;
  background-color: transparent;
  border: 2px solid var(--primary-color-light);
  border-radius: 12px;
  color: var(--primary-color-light);
  font-family: var(--family-main);
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

/* HEADER */
.nav-container {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px 0;
  background: var(--navbar-gradient);
  transition: all 0.3s ease;
}
/* CHANGE LATER WHEN SCROLLED
.nav-container.scrolled {
  background: var(--primary-color-light);
} */

.nav-logo {
  display: flex;
  align-items: center;
  height: 60px;
  width: 270px;
  cursor: pointer;
}
.nav-links,
.nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.6rem;
  font-family: var(--family-main);
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color-light);
  font-weight: 500;
}

/* HERO SECTION */
.hero-section {
  background-image: url("images/hero-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  color: var(--primary-color-light);
}
.hero-content {
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.hero-section h1 {
  font-size: 6rem;
  color: var(--primary-color-light);
  font-family: var(--family-main);
  font-weight: 400;
  text-shadow: 0 0 50px rgb(74 44 42);
}
.hero-section h2 {
  font-size: 2.4rem;
  font-family: var(--family-secondary);
  font-weight: 500;
  text-shadow: 0 0 25px rgb(74 44 42);
}
.hero-btns {
  gap: 16px;
  display: flex;
}
/* VALUES SECTION */
.values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;
  min-height: 720px;
  width: 100%;
  padding-top: 90px;
}
.values-section-intro {
  padding: 32px 64px 0;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.values-section-intro h2 {
  font-size: 3rem;
  color: var(--primary-color-dark);
}
.values-section-intro p {
  font-size: 1.6rem;
  color: var(--secondary-color);
}
.values-section-articles {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
  padding: 0 64px;
  flex-direction: row;
}
.values-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 650 / 770;
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--primary-color-light);
  border-radius: 16px;
  overflow: hidden;
  padding: 24px;
}
.values-article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--article-gradient);
  pointer-events: none;
  z-index: 1;
}
.values-article h4,
.values-article p {
  position: relative;
  z-index: 2;
}
.values-article h4 {
  font-size: 1.8rem;
  font-family: var(--family-main);
  margin-bottom: 12px;
  font-weight: 500;
}
.values-article p {
  font-size: 1rem;
  font-family: var(--family-secondary);
  line-height: 1.5;
}
.article-coffee {
  background-image: url(/images/story-coffeemach.jpg);
}
.article-space {
  background-image: url(/images/story-space.jpg);
}
.article-eats {
  background-image: url(/images/story-cookies.jpg);
}

/* STORY SECTION */
.story-section {
  background-image:
    linear-gradient(rgba(74, 44, 42, 0.3), rgba(74, 44, 42, 0.3)),
    url("images/story-background.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.story-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  color: var(--primary-color-light);
}
.story-container h2 {
  font-size: 4.5rem;
}
.story-container p {
  font-size: 2.5rem;
  font-style: italic;
  max-width: 50%;
  line-height: 1.5;
}
.story-btn {
  font-size: 1.6rem;
  padding: 16px 32px;
  cursor: pointer;
}
